<h1>Events</h1>

<h2>Upcoming Events</h2>
<ul>
  <% @upcoming_events.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event.id)%>
    </li>
    <br>
  <% end %>
</ul>

<h1>Past Events</h1>
<ul>
  <% @past_events.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event.id)%>
    </li>
    <br>
  <% end %>
</ul>

<br>

<%= link_to 'New Event', new_event_path %>
